.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 500px;
  margin: 10px;
  word-wrap: break-word;
}
.card-header {
  margin-left: 5%;
  margin-right: 5%;
}
.card-body {
  margin-left: 5%;
  margin-right: 5%;
}
.card-footer {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cancel-icon {
  vertical-align: middle;
}
.check-icon {
  vertical-align: middle;
}
.grid {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}
